doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='moment.js')
    script(src='https://connect.facebook.net/en_US/all.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    link(rel='import', href='/components/polymer/polymer.html')
    link(rel='import', href='/components/paper-spinner/paper-spinner.html')
    link(rel='import', href='/components/paper-card/paper-card.html')
    link(rel='import', href='/components/paper-button/paper-button.html')
    link(rel='import', href='/components/iron-ajax/iron-ajax.html')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    style(type='text/css').
      h4{
      margin-top: 0;
      }
      @media(max-width: 480px) {
      h4 {
      font-size: 10pt;
      }
      }
      .title{
      margin-bottom:20px;
      font-size: 9.0vw;
      font-weight: 200;
      font-family: 'Amaranth', sans-serif;
      text-align:center;
      color: rgb(255, 255, 255);
      background-color: #BB0022;
      }
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
    template#app(is="dom-bind")
      section.head
        p.title RU FreeFoodFinder
        paper-spinner.horizontal.layout.center.end-justified(active$="[[loading]]")
      #noclue.container
        template(is="dom-repeat",items="[[events]]")
          paper-card(elevation=4, heading="[[computeEventTitle(item.content)]]" image="[[fallbackSupport(item.enclosure.url)]]")
            section.card-content(hidden$="[[!item.visible]]") This event is cool
            article.card-actions
              paper-button(on-click="changeVisibility") Show Information
              paper-button Add to calendar
      iron-ajax#api(auto$="[[!loading]]",handle-as="json",on-response="eventParser",url="https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20html%20where%20url%20%3D%20%22https%3A%2F%2Frutgers.collegiatelink.net%2FEventRss%2FEventsRss%22%20and%20xpath%3D%22%2F%2Fitem%22&diagnostics=true&format=json")
      style(is="custom-style").
        paper-card {
            display: inline-block;
            width: 48%;
            margin: 1%;
          --paper-card-header-text: {color: white;background: rgba(0,0,0,.25);width: 100%;}
        }
      script(type='text/javascript').
        var app = $("#app").prop({
          loading: true,
          events: [],
        })[0]
        app.accessToken = "CAANjBmdVSEcBACyfLUuGiZBkZBZCCI1wWub5T17ZCtzdyKLXV8QU4kA3a9JCDtfDxz3LmQZCRZA0llSpg3l5JthypVRBbwJSeMlUmyZCTCZAbT4SZBn6HDUUrB4omEQdNoYxxA1u6ql1ZBKCiwA5AGBMhaeJVkCaNyfZBfHSTweVtdQWFXZBLM2xDhrXErssZAZBTQJmWCQ8sfc8uZAzwZDZD";
        var d = new Date();
        app.eventData = [];
        app.param = "/events?fields=name,description,start_time,end_time,place,picture.type(large){url}&since=" + d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();;
        app.fb_urls = ['/RUPAPresents','/RUOCSA','/ruaacc','/youth.eagleton','/Cookiesncrepesnb','/rutgersmad',
        '/Rutgers.psa'];
        app.food_tags = [ "appetizer", "snack", "pizza", "lunch", "dinner", "breakfast", "meal", "candy", "drinks","punch", "served", "serving", "pie",  "cake", "soda", "chicken", "wings", "burger",
            "burrito", "bagel", "poporn", " ice ", "cream", "donut", "beer", "free food", 
            "subs", "hoagie", "sandwich", "turkey", "supper", "brunch", "takeout", "refreshment",
            "beverage", "cookie", "brownie", "chips", "soup", "grill", "bbq", "barbecue"
        ];
        app.eventParser = function(e) {
          this.events = e.detail.response.query.results.item
        }
        app.computeEventTitle = function(c) {
          return c.replace(/^.+details\/\d+/g,"").trim()
        }
        app.fallbackSupport = function(u){
          return u?u:"http://previews.123rf.com/images/carmenbobo/carmenbobo1405/carmenbobo140500482/28389907-Stamp-with-text-free-food-inside-vector-illustration-Stock-Vector.jpg";
        }
        app.changeVisibility = function(e) {ind='events.'+$(e.toElement.parentNode.parentNode).index("paper-card")+'.visible';this.set(ind, !this.get(ind))}
        setInterval(()=>{app.$.api.generate},120000)
        // FB.init({
        //   appId      : '953304084727879',
        //   xfbml      : true,
        //   version    : 'v2.4'
        // });
        // FB.getLoginStatus(function(response) {
        //   if (response.status === 'connected') {
        //     accessToken = response.authResponse.accessToken;
        //   }else if (response.status !== 'not_authorized') {
        //     FB.login(function(response) {
        //       if (response.authResponse) {
        //         app.accessToken = response.authResponse.accessToken;
        //       }
        //     },true, {scope: 'user_events'});
        //   }
        // });
        // for (var i = 0; i < app.fb_urls.length; i++) {
        //   FB.api(app.fb_urls[i]+app.param,{access_token: app.accessToken }, function(response) {
        //     loopOverResponse(response.data);
        //   });
        // };
        // function getTags(str){
        // var i;
        // var ret = "";
        // for(i = 0; i < food_tags.length; i++){
        // if(str.toLowerCase().indexOf(food_tags[i]) !== -1){
        // ret += "#" + food_tags[i] + " ";
        // }
        // }
        // return ret;
        // }
        // function loopOverResponse(data){
        // if(data === undefined) return;
        // for (var i = 0; i < data.length; i++){
        // if(getTags(data[i].description).length < 1) continue;
        // var location = (data[i].place === undefined || data[i].place.location == undefined) ? " " : data[i].place.location.street + ", " + data[i].place.location.city + " " + data[i].place.location.state;
        // var time = moment(data[i].start_time).format("dddd, MMM D (h:mm A");
        // if(data[i].end_time) {
        // time += " - " + moment(data[i].end_time).format("h:mm A)");
        // }else{
        // time += ")";
        // }
        // var img_url = data[i].picture.data.url;
        // var eventItem = [data[i].id.toString(),data[i].name,img_url,time,location,data[i].description];
        // eventData.push(eventItem);
        // }
        // }
        // // get the upcoming event link and using that link find the event info.
        // function findEvents(data){
        // var itemList = $(data).find('item');
        // for(var i = 0; i < itemList.length; i++){
        // var item = $(itemList[i]);
        // var event_title = item.contents()[3].nodeValue;
        // if (event_title == null) event_title = " ";
        // var descr_text = item.find('description').text();
        // if(getTags(descr_text).length < 1) continue;
        // var img_url = item.find('enclosure').attr('url');
        // if (img_url == null){
        // img_url = "http://previews.123rf.com/images/carmenbobo/carmenbobo1405/carmenbobo140500482/28389907-Stamp-with-text-free-food-inside-vector-illustration-Stock-Vector.jpg";
        // }
        // var time = $.parseHTML(descr_text)[0].innerText;
        // if(time.indexOf(") -") !== -1){
        // var t_split = time.split(') - ');
        // time = moment(t_split[0],"dddd, MMMM D, YYYY (h:mm A").format("MMM D (h:mm A)") +
        // moment(t_split[1],"dddd, MMMM D, YYYY (h:mm A)").format(" - MMM D (h:mm A)");
        // }else if(time.indexOf("M -")){
        // var t_split = time.split(' - ');
        // time = moment(t_split[0],"dddd, MMMM D, YYYY (h:mm A").format("dddd, MMM D (h:mm A") +
        // moment(t_split[1],"h:mm A)").format(" - h:mm A)");
        // }else{
        // time = moment(time,"dddd, MMMM D, YYYY (h:mm A)").format("dddd, MMM D (h:mm A)");
        // }
        // var location = $.parseHTML(descr_text)[2].innerText.replace("Location: ","");
        // var description = $.parseHTML(descr_text)[4].innerText;
        // var eventItem = ["0",event_title,img_url,time,location,description];
        // eventData.push(eventItem);
        // }
        // changeURL();
        // }
        // function changeURL(){
        // var temp = [];
        // $.when.apply($, temp).then(function() {
        // var xg=arguments; // The array of resolved objects as a pseudo-array
        // for (var i = xg.length - 1; i >= 0; i--) {
        // eventData.push(xg[i]);
        // };
        // display();
        // })
        // }
        // function display(){
        // for(var z = 0; z < eventData.length; z++){
        // var item = eventData[z];
        // $('#noclue').html("<div class=\"row item\"><div class=\"col-xs-2\"><img class='img-responsive img-rounded' src=\"" + item[2] + "\" height=\"1240\" width=\"190\"/></div><div class='col-xs-10'><h4>"
        // + item[1] + "</h4><span class='glyphicon glyphicon-calendar' aria-hidden='true'/><em>&nbsp;"
        // + item[3] + "</em><br><span class='glyphicon glyphicon-map-marker' aria-hidden='true'/>&nbsp;"
        // + item[4] + "<br><p><span class='glyphicon glyphicon-tags' aria-hidden='true'/>&nbsp;" + getTags(item[5]) + "</p></div></div><br></div><hr>");
        // }
        // }
        // script(type='text/javascript').
        // var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        // document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        // script(type='text/javascript').
        // try {
        // var pageTracker = _gat._getTracker("UA-60013456-1");
        // pageTracker._trackPageview();
        app.loading=false
